!!!
%html
	%head
		%title University Events
		%link(rel="stylesheet" href="/css/bootstrap.css" type ="text/css")
	%body
		.navbar
			.navbar-inner
				.container
					%ul
						%li
							%a{:class=>"brand", :href=>"/events"} University Events
						%li
							-if login?
								==%p Hello, #{@user.firstname} #{@user.lastname}
								%a{:class=>"pull-right", :href=>"/logout"} Logout
							-else
								%form{:class=>"navbar-form pull-right", :action=>"/login", :method=>"POST"}
									%input{:type=>"text", :class=>"span2", :placeholder=>"email",:name=>"email",:id=>"email"}
									%input{:type=>"password", :class=>"span2", :placeholder=>"password", :name=>"password", :id=>"password"}
									%button{:type=>"submit", :class=>"btn"} Login
						
		.row
			.span1
				%p
			.span8
				=yield
			.span3
				/menu
				.well
					%ul
						.nav 
							.navlist
								%li
									%i{:class=>"icon-home"} 
									%a{:href=>"/"} Home
								%li
									%i{:class=>"icon-calendar"} 
									%a{:href=>"/events"} Events
								%li
									%i{:class=>"icon-user"} 
									%a{:href=>"/login"} Login
								%li
								%li
									%i{:class=>"icon-search"}
									%a{:href=>"#"} Search
