%form{:class=>"form-horizontal", :action=>"/user", :method=>"post"}
	%legend New User
	.control-group
		%label{:class=>"control-label", :for=>"firstname"} First Name
		.controls
			%input{:type=>"text", :placeholder=>"firstname", :id=>"firstname", :name=>"firstname"}
